/*div{
    height: 700px;
    background-image: linear-gradient(to bottom, rgb(130, 200, 131) ,transparent);
}
p{
    height: 400px;
    background-image: radial-gradient( circle ,#1082af , #63c18b);
}*/
.perant{
    background-color: bisque;
}
.red{
    height: 200px;
    width: 200px;    
    background-color: crimson;

}
.green{
    height: 200px;
    width: 200px;   
    background-color: green;
}
.blue{
    height: 200px;
    width: 200px;    
    background-color: blue;
}
.float{
    float: left;
    margin: 20px;
}
.clear{
    clear: both;
}